body {
    background: #ECEDED;
}

.lang {
    color: #000;
    font-family: Helvetica;
    font-size: 14px;
    position: relative;
    text-align: right;
}

.wrapper {
    height: 300px;
    margin: 150px auto 0 auto;
    width: 283px;
}

.logo {
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
                -1px 2px 20px rgba(255, 255, 255, 0.6) inset; 
}

.pictos {
    /*margin-top: 105px;*/
    margin-top: 20%;
    position: relative;
    text-align: center;
}

.pictos ul {
    list-style: none;
}

.pictos ul li a {
    display: inline-block;
    height: 37px;
    width: 36px;
}

.pictos ul li a span {
    display: none;
}

.pictos ul .facebook a {
    background: url(../img/fb_logo.png) left top no-repeat;
    left: 97px;
    position: absolute;
    top: 0;
}

.pictos ul .google a {
    background: url(../img/maps.png) left top no-repeat;
    position: absolute;
    left: 167px;
    top: 0;
}

.intro {
    font-size: 15px;
}

.horaire_title {
    font-size: 16px;
    line-height: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.horaire_block {
    color: #000;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 14px;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 800px;
}

.booking_block {
    color: #000;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 14px;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 800px;
}


.booking_title {
    font-size: 16px;
    line-height: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
}
